input {
     file {
        path  => "/home/harry/cywall/charmeleon-core/charmeleon.log"
        start_position => "end"
     }
 }

filter {
        grok {
                 match => {"message" => "^(?<time>%{YEAR}/%{MONTHNUM}/%{MONTHDAY} %{TIME}) %{IP:ip} lookup %{HOSTNAME:hostname} IN %{WORD:record_type} with conclusion %{WORD:type}$"}
        }

        date {
        # 2016/09/25 02:47:04
                match => ["time","YYYY/MM/dd HH:mm:ss"]
                target => "timestamp"
        }

}

output {
    if "_grokparsefailure" not in [tags] {
    mongodb {
        collection => "dns"
        database   => "charizard"
        uri        => "mongodb://127.0.0.1:27017/"
    }

    stdout {codec => rubydebug }
    }
}

